$primary-color: #36A0D5
$app-red: #DE5555
$app-green: #9bd777

$ui-light-grey: #eee
$ui-dark-grey: #909090

$text-dark-grey: #787878
$text-medium-grey: $ui-dark-grey


body
  background: $ui-light-grey
  padding-top: 50px

.navbar-default
  background-color: $primary-color
  color: white

.navbar-default .navbar-brand
  color: white

section h2
  margin-top: 15px
  margin-bottom: 10px
  font-size: 13px
  margin-left: 10px
  letter-spacing: 1px
  color: $primary-color

.list-group
  margin-bottom: 0

.class-list

  .list-group-item

    &:first-child,
    &:last-child
      border-radius: 0

    &.class-day
      padding-top: 11px
      padding-bottom: 11px
      padding-left: 14px
      position: relative
      min-height: 60px

      .class-day-column
        display: block
        float: left
        height: 36px

        &.class-day-column-date
          text-align: center
          padding-right: 7px
          border-right: 1px solid $ui-light-grey

          p:first-child
            font-size: 22px
            line-height: 24px
            letter-spacing: 2px
            color: $text-dark-grey
            font-weight: bold
            margin-bottom: 0

            &.class-day-column-date-today
              color: $app-red

          p:last-child
            font-size: 10px
            line-height: 12px

        &.class-day-column-description

          margin-left: 10px

          p:first-child
            margin: 0
            margin-top: 4px
            font-size: 13px
            color: $text-dark-grey

          p:last-child
            font-size: 12px
            font-weight: 400

      .glyphicon
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
        color: $ui-dark-grey

.class-hour-list

  .class-hour-list-item
    position: relative
    height: 90px

    .class-hour-column
      display: block
      float: left

    .class-hour-column-info
      margin-left: 10px

      .class-hour-title
        color: $text-dark-grey
        font-size: 13px
        font-weight: bold
        margin-bottom: 3px

      .class-hour-elements

        img
          height: 20px
          width: 20px
          border: 2px solid white

          &:not(:first-of-type)
            margin-left: -9px

        span
          color: $text-medium-grey
          font-size: 13px

    .class-hour-time
      color: $text-dark-grey
      font-size: 13px
      font-weight: bold

    &:last-child
      border-bottom: 0

    .class-hour-graphical-availability
      width: 20px
      height: 20px
      background-color: #d8d8d8
      position: absolute
      top: 10px
      right: 15px
      text-align: center
      font-size: 11px
      line-height: 13px
      color: white
      border-radius: 2px
      padding-top: 3px

      &::after
        content: ""
        width: 100%
        height: 50%
        position: absolute
        bottom: 0
        left: 0
        background-color: $app-green
        border-radius: 2px

      div
        position: relative
        z-index: 2
